<div style=" color: aliceblue; background: linear-gradient(60deg, #523fff 0%, #750ed5 100%); height:auto;">
    <div class="container" style="padding-top: 200px;">
        <div class="row m-0 ">
            <div class="col-lg-6 text-left">
                <h1 style="font-size: 20px; letter-spacing: 5px;">IT Design & Consulting</h1>
                <h1 class="title">Our Intelligent Technology Solutions and Services</h1>
                <h1 style="font-size: 20px; ">We work with SMEs and Enterprises helping them gain advantage using technology in a cost-effective way!</h1>
                <div>
                    <button mat-button style="border: 1px solid white;font-size: 20px;padding: 10px 20px;">Our Service</button>
                    <button mat-button style="font-size: 20px;padding: 10px 20px; margin-left: 10px;"><mat-icon style="margin-right:5px ;">play_circle_filled</mat-icon>Watch Video</button>
                </div>
            </div>
            <div class="col-lg-6 text-center">

                <img style="width: 500px;padding-bottom: 100px;letter-spacing: 2px;" src="https://foliagetechnologies.com/media/illustration/illustration1.png"
                    alt="">
            </div>
        </div>
    </div>
</div>
<div >
    <div class="container mt-5" >
        <div class="row m-0 ">
            <div class="col-lg-6 text-center">
                <img style="width: 500px;" src="https://foliagetechnologies.com/media/about/about2.png"
                    alt="">
            </div>
            <div class="col-lg-6 text-left  ">
                <h1 style="font-size: 40px;font-weight: 600;line-height: 50px;letter-spacing: 1px;">Exclusive Agency for Technology Consulting & Services</h1>
                <p style="font-size: 18px;line-height: 30px;  ">In this era of Global Digitalization, it is vital to make use of the technology for your business. Our experts, at Foliage Technologies, provide you solutions with best ROI delivering value to your business and customers. We have our own distinctive way of working</p>
                <ul >
                    <li><mat-icon>done</mat-icon>listen to identify the problem</li>
                </ul>
                <div>
                    <button mat-button style="border: 1px solid white;font-size: 20px;padding: 10px 20px;">Our Service</button>
                    <button mat-button style="font-size: 20px;padding: 10px 20px; margin-left: 10px;"><mat-icon style="margin-right:5px ;">play_circle_filled</mat-icon>Watch Video</button>
                </div>
            </div>
        </div>
    </div>
</div>